
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$orange: #E9892D;
$baseTheme: $orange;

//sidebar
/*$menuBg:#7171C6;
$subMenuBg:#7171C6;
$menuHover:#473C8B;*/
$menuBg:#EDA057;
$subMenuBg:#EDA057;
$menuHover:$baseTheme;

$appContainerBg:#FFF;

//$--color-primary: $baseTheme;
//$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';
//@import "~element-ui/packages/theme-chalk/src/index";
